@font-face {
  src: url("../fonts/Aleo/Aleo-Regular.eot");
  font-family: Aleo;
  src: url("../fonts/Aleo/Aleo-Regular.eot?#Aleo") format("embedded-opentype"), url("../fonts/Aleo/Aleo-Regular.woff") format("woff"), url("../fonts/Aleo/Aleo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Aleo/Aleo-RegularItalic.eot");
  font-family: Aleo;
  src: url("../fonts/Aleo/Aleo-RegularItalic.eot?#Aleo") format("embedded-opentype"), url("../fonts/Aleo/Aleo-RegularItalic.woff") format("woff"), url("../fonts/Aleo/Aleo-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url("../fonts/Aleo/Aleo-Bold.eot");
  font-family: Aleo;
  src: url("../fonts/Aleo/Aleo-Bold.eot?#Aleo") format("embedded-opentype"), url("../fonts/Aleo/Aleo-Bold.woff") format("woff"), url("../fonts/Aleo/Aleo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url("../fonts/Aleo/Aleo-BoldItalic.eot");
  font-family: Aleo;
  src: url("../fonts/Aleo/Aleo-BoldItalic.eot?#Aleo") format("embedded-opentype"), url("../fonts/Aleo/Aleo-BoldItalic.woff") format("woff"), url("../fonts/Aleo/Aleo-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #4d4d4d;
  font-family: "Aleo";
}

.container {
  display: grid;
  grid-template-rows: auto 50% auto;
  height: 100vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

header {
  background: #666;
  display: grid;
  align-self: center;
  margin: 2vw 0vw 3vw 0vw;
}

header .border {
  border: 2px solid #4d4d4d;
  display: grid;
  place-content: center;
  grid-gap: 3vw 2vw;
  margin: 2px;
  padding: 30px;
  color: #fff;
}

header a {
  padding: 1.5vw 2vw;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

header a.disagree {
  background: #fff;
  color: #000;
}

header a.info {
  border: 1px solid #fff;
  color: #fff;
}

header span {
  place-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.bigborder {
  display: grid;
  grid-template-rows: auto auto;
}

.logo {
  background: #d35f5f;
  background: -moz-linear-gradient(top, #bc5c5c 0%, #d35f5f 100%);
  background: -webkit-linear-gradient(top, #bc5c5c 0%, #d35f5f 100%);
  background: linear-gradient(to bottom, #bc5c5c 0%, #d35f5f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc5c5c', endColorstr='#d35f5f',GradientType=0);
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 5vw;
}

.logo img {
  width: 70%;
  max-width: 250px;
  height: auto;
}

.mail {
  background: #d35f5f;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 5vw;
}

.mail span {
  color: #fff;
  font-size: 8vw;
  font-weight: bold;
  font-style: italic;
}

.mail .pgp {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

footer {
  border: 2px solid #666;
  margin: 10vw 0vw 5vw 0vw;
  display: grid;
  padding: 2vw;
  grid-gap: 2vw;
  place-content: center;
  justify-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer .dsgvo {
  place-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (min-width: 700px) {
  .mail span {
    font-size: 5vw;
  }
  .mail .pgp {
    border: 3px solid #fff;
    text-align: center;
    width: 5.5vw;
    height: 5.5vw;
    line-height: 5.5vw;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: auto auto;
    grid-template-rows: auto 25% auto;
    margin: 0;
  }
  header, footer, .bigborder {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  header {
    align-self: start;
    margin: 0;
  }
  header .border {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #4d4d4d;
  }
  footer {
    align-self: end;
    margin: 0;
    border: 0;
    background: #666;
    grid-template-columns: auto auto auto;
  }
  footer .dsgvo {
    place-self: unset;
    grid-column-start: auto;
    grid-column-end: auto;
  }
  .bigborder {
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    border: 2px solid #fff;
    place-items: stretch;
    padding: 3px;
    margin: 0vw 10vw 0vw 10vw;
  }
  .logo {
    padding-top: 0;
  }
  .mail {
    margin-bottom: 0;
    background: #fff;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    padding-bottom: 0;
  }
  .mail span {
    color: #000;
    font-size: 3vw;
  }
  .mail .pgp {
    color: #808080;
    border-color: #808080;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
  }
}
