// basic function for font embedding
@mixin font($font, $variant, $weight, $style) {
    src: url("fonts/#{$font}/#{$font}-#{$variant}.eot");
    font-family: $font;
    src:
      url("fonts/#{$font}/#{$font}-#{$variant}.eot?##{$font}") format("embedded-opentype"),
      url("fonts/#{$font}/#{$font}-#{$variant}.woff") format("woff"),
      url("fonts/#{$font}/#{$font}-#{$variant}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
}

@font-face {
    @include font(Aleo, Regular, normal, normal);
}

@font-face {
    @include font(Aleo, RegularItalic, normal, italic);
}

@font-face {
    @include font(Aleo, Bold, bold, normal);
}

@font-face {
    @include font(Aleo, BoldItalic, bold, italic);
}

$font-size: 4vw;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #4d4d4d;
    font-family: "Aleo";
    //font-size: $font-size;
}

.container {
    display: grid;
    grid-template-rows: auto 50% auto;
    height: 100vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

header {
    background: #666;
    display: grid;
    align-self: center;
    margin: 2vw 0vw 3vw 0vw;

    .border {
        border: 2px solid #4d4d4d;
        display: grid;
        place-content: center;
        grid-gap: 3vw 2vw;
        margin: 2px;
        padding: 30px;
        color: #fff;
    }
    
    a {
        padding: 1.5vw 2vw;
        text-align: center;
        text-decoration: none;
        font-weight: bold;

        &.disagree {
            background: #fff;
            color: #000;
        }

        &.info {
            border: 1px solid #fff;
            color: #fff;
        }
    }

    span {
        place-self: center;
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
}

.bigborder {
    display: grid;
    grid-template-rows: auto auto;
}

.logo {
    // old gradient: start with #a90329, stop at #bc5c5c
    background: #d35f5f;
    background: -moz-linear-gradient(top, #d35f5f 0%, #bc5c5c 100%);
    background: -webkit-linear-gradient(top, #d35f5f 0%,#bc5c5c 100%);
    background: linear-gradient(to bottom, #d35f5f 0%,#bc5c5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d35f5f', endColorstr='#bc5c5c',GradientType=0 );
    display: grid;
    place-items: center;
    padding-top: 5vw;
}

.mail {
    background: #bc5c5c;
    display: grid;
    place-items: center;
    padding-bottom: 5vw;

    span {
        color: #fff;
        font-size: 8vw;
        font-weight: bold;
        font-style: italic;
    }

    .pgp {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
}

footer {
    border: 2px solid #666;
    margin: 10vw 0vw 5vw 0vw;
    display: grid;

    //TODO: less padding on bigger resolutions
    padding: 2vw;
    grid-gap: 2vw;
    place-content: center;
    justify-items: center;

    a {
        color: #fff;
        text-decoration: none;
    }

    .dsgvo {
        place-self: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (min-width: 450px) {
    $font-size: $font-size - 0.7;

    body {
        //font-size: $font-size;
    }
}

@media (min-width: 600px) {
    $font-size: $font-size - 1.6;

    body {
        //font-size: $font-size;
    }
}

@media (min-width: 700px) {

    $font-size: $font-size - 2;

    body {
        //font-size: $font-size;
    }

    .mail {

       span {
           font-size: 5vw;
       }

        .pgp {
            border: 3px solid #fff;
            text-align: center; 
            width: 5.5vw;
            height: 5.5vw;
            line-height: 5.5vw;
            display: inline-block;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }
    }
}

@media (min-width: 1000px) {

    $font-size: $font-size - 2.3;

    body {
        //font-size: $font-size;
    }

    .container {
        grid-template-columns: auto auto;
        grid-template-rows: auto 25% auto;
        margin: 0;
    }

    header, footer, .bigborder {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    header {
        align-self: start;
        margin: 0;
        
        .border {
            border: 0;
            margin-left: 0;
            margin-right: 0;
            border-bottom: 2px solid #4d4d4d;
        }
    }

    footer {
        align-self: end;
        margin: 0;
        border: 0;
        background: #666;
        grid-template-columns: auto auto auto;

        .dsgvo {
            place-self: unset;
            grid-column-start: auto;
            grid-column-end: auto;
        }
    }

    .bigborder {
        grid-template-columns: auto auto;
        grid-template-rows: 100%;
        border: 2px solid #fff;
        place-items: stretch;
        padding: 3px;
        margin: 0vw 10vw 0vw 10vw;
    }

    .logo {
        padding-top: 0;
    }

    .mail {
        margin-bottom: 0;
        background: #fff;
        grid-template-columns: auto auto;
        grid-template-rows: 100%;
        padding-bottom: 0;

        span {
            color: #000;
            font-size: 3vw;
        }

        .pgp {
            color: #808080;
            border-color: #808080;
            width: 3vw;
            height: 3vw;
            line-height: 3vw;
        }
    }
}

@media (min-width: 1200px) {

    $font-size: $font-size - 2.5;
    
    body {
        //font-size: $font-size;
    }
}

@media (min-width: 1400px) {

    $font-size: $font-size - 2.7;
    
    body {
        //font-size: $font-size;
    }
}

@media (min-width: 1500px) {

    $font-size: $font-size - 3;
    
    body {
        //font-size: $font-size;
    }
}